<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.whebcraft.cordova.plugin.downloader"
        version="0.1.0">

  <name>Cordova Downloader</name>

  <description>Cordova plugin for downloading files from server</description>

  <repo>https://github.com/Whebcraft/cordova-plugin-downloader.git</repo>

  <keywords>plugin, download, mobile, cordova</keywords>

  <license>Apache 2.0 License</license>

  <author>Whebcraft</author>

  <!-- cordova -->
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- js -->
  <js-module src="www/Downloader.js" name="Downloader">
    <clobbers target="plugins.Downloader" />
  </js-module>

  <!-- android -->
  <platform name="android">
  <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   </config-file>
   
    <!-- <source-file
      src="src/android/libs/support-v4-19.0.0.jar" target-dir="libs/" /> -->
    <source-file
        src="src/android/com/whebcraft/android/plugin/Downloader.java"
        target-dir="src/com/whebcraft/android/plugin" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Downloader">
        <param name="android-package" value="com.whebcraft.android.plugin.Downloader" />
      </feature>
    </config-file>

  </platform>

  <!-- ios -->
  <platform name="ios">

    <source-file src="src/ios/Downloader.swift" />

    <config-file target="config.xml" parent="/*">
      <feature name="Downloader">
        <param name="ios-package" value="Downloader" />
      </feature>
    </config-file>
  </platform>

</plugin>
